body {
    background-color: lightblue;
    font: normal 1em Arial;
}

header{
    color: rgb(162, 4, 224);
    text-align: center;

}

section{
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
    


}
div {
    display: grid;
    text-align: center;
    padding: 8px;
    
    
}
#foto {
    text-align: center;
    margin: auto;
}

div#res { background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    margin: auto;
}

footer {
    text-align: center;
    font-style: italic;

}